<div class="outer_hero">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <div class="intro">
          <h1>I'm Dave Peiris, an SEO consultant and Ruby developer</h1>
          <p>I've spent almost a decade helping companies - from small startups to huge brands - get more customers through search engines.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="outer_clients">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h2>Some of the companies I've worked with</h2>
        <div class="client_logos">
          <div class="client_logo">
            <%= image_tag "logos/national-geographic.png", :alt => "National Geographic" %>
          </div>
          <div class="client_logo">
            <%= image_tag "logos/bang.png", :alt => "Bang & Olufsen" %>
          </div>
          <div class="client_logo">
            <%= image_tag "logos/legoland.png", :alt => "Legoland" %>
          </div>
          <div class="client_logo">
            <%= image_tag "logos/radley.png", :alt => "Radley" %>
          </div>
          <div class="client_logo">
            <%= image_tag "logos/ann-summers.jpg", :alt => "Ann Summers" %>
          </div>
          <div class="client_logo">
            <%= image_tag "logos/lost.png", :alt => "Lost My Name" %>
          </div>
          <div class="client_logo">
            <%= image_tag "logos/blockchain.png", :alt => "Blockchain" %>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="outer_workwithme">
  <div class="container">
    <div class="nine columns">
      <h2>Interested in working with me?</h2>
      <p>I specialise in technical SEO audits, particularly for retailers and enterprise level websites. If you'd like to have a chat, get in touch at <%= mail_to "davepeiris@gmail.com", "davepeiris@gmail.com" %>.</p>
    </div>
    <div class="three columns">
    </div>
  </div>
</div>
